* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
	box-sizing: border-box;
}


body {
	min-height: 100vh;
	background-color: #dadada;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}

.sidebar {
	width: 120px;
	height: 100%;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	background: rgba(10, 10, 10, .65);
	box-shadow: 0 8px 32px rgb(2, 4, 24);
	border-right: 2px solid rgba(255, 255, 255, .09);
	transition: .4s ease-in-out;
  z-index: 1000;
}

.sidebar.open {
	width: 360px;
}

.sidebar .logo {
	width: 100%;
	height: 240px;
	padding: 40px 0;
	display: grid;
	align-items: center;
	justify-items: center;
}

.sidebar .logo img {
	width: 56px;
	transition: .4s;
}

.sidebar.open .logo img {
	width: 96px;
}

.sidebar .logo h3 {
	color: #fff;
	font-size: 36px;
	margin-top: 12px;
	font-variant: small-caps;
	pointer-events: none;
	scale: 0;
	opacity: 0;
}

.sidebar.open .logo h3 {
	scale: 1;
	opacity: 1;
	transition: .4s;
	transition-delay: .2s;
}

.sidebar .nav-title {
	color: #dadada;
	margin: 40px 0 18px;
	pointer-events: none;
	opacity: 0;
}

.sidebar.open .nav-title {
	opacity: 1;
	transition: .4s;
	transition-delay: .2s;
}

.sidebar nav {
	padding: 0 15px;
}

.sidebar nav .nav-item {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 4px;
	width: 100%;
	height: 56px;
	padding: 0 16px;
	margin: 8px 0;
	color: #fff;
	transition: .3s;
}

.sidebar nav .nav-item.active {
	background: #ff328e !important;
}

.sidebar nav .nav-item:hover {
	background: rgba(255, 255, 255, .1);
}

.sidebar nav .nav-item i {
	font-size: 26px;
}

.sidebar nav .nav-item span {
	font-size: 18px;
	margin-left: 8px;
	opacity: 0;
	pointer-events: none;
}

.sidebar.open nav .nav-item span {
	opacity: 1;
	pointer-events: visible;
	transition: .4s;
	transition-delay: .2s;
}

.sidebar hr {
	width: 100%;
	height: 2px;
	border-radius: 3px;
	margin: 40px 0 50px;
	background: rgba(255, 255, 255, .1);
	opacity: 0;
}

.sidebar.open hr {
	opacity: 1;
	transition: .4s;
}

.sidebar .toggle {
	cursor: pointer;
	position: absolute;
	color: #fff;
	top: 180px;
	right: -20px;
	font-size: 38px;
	line-height: 50%;
	text-align: center;
	border-radius: 50%;
	padding: 2px 0 2px 2px;
	background: linear-gradient(90deg,
			transparent 50%,
			rgba(10, 10, 10, .65) 50%);
}

.sidebar.open .toggle {
	transform: translateY(45px);
}

.sidebar .toggle i {
	transition: .4s linear;
}

.sidebar.open .toggle i {
	transform: rotateY(180deg);
}

/* category */

.main-container {
  display: grid;
  grid-template-columns: 120px 1fr;
  height: 100%;
 

}


.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.flex-1 {
  /* Estilos para .flex-1 */
  margin-left: 20px; /* Añade margen a la izquierda */
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}



.container {
  max-width: 100%;
  padding:15px;
  margin-left: 20px;
  box-sizing: border-box;
  margin-top: 3rem;

}
  
  .breadcrumb {
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  top: 50%;
  width: 100%;
  height: 30px;
  transform: translateY(-50%);
  z-index: 1;
  }
  
  
  .breadcrumb__item {
  height: 100%;
  background-color: white;
  color: #252525;
  font-family: 'Oswald', sans-serif;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transform: skew(-21deg);
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  margin: 5px;
  padding: 0 40px;
  cursor: pointer;
  }
  
  
  .breadcrumb__item:hover {
  background: #490099;
  color: #FFF;
  }
  
  
  .breadcrumb__inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 2;
  transform: skew(21deg);  
  }
  
  .breadcrumb__title {
  font-size: 16px;
  text-overflow: ellipsis;  
  overflow: hidden;
  white-space: nowrap;  
  }
  
  
  @media all and (max-width: 1000px) {
    .breadcrumb {
      height: 25px; /* Ajusta la altura deseada */
      display: inline-block;
      text-align: center; /* Centra horizontalmente el contenido */
    }
    
    .breadcrumb__title {
      font-size: 10px; /* Tamaño de fuente más pequeño */
    }
    
    .breadcrumb__item {
      padding: 0 15px; /* Reduce el espaciado lateral */
    }
  }
  
  @media all and (max-width: 710px) {
    .breadcrumb {
      height: 20px; /* Ajusta la altura deseada */
    }
    
    .breadcrumb__item {
      padding: 0 10px; /* Reduce aún más el espaciado lateral */
    }
  }
  

  /* Dropdown */
 
  
  
  .main{
    margin:0;
    max-width:350px;
    width:50%;  
    height:97px;
  }
  @media(max-width:34em){
    .main{
      min-width:150px;
      width:auto;
    }
  }
  select {
      display: none !important;
  }

  .select-container {
    display: flex;
    justify-content: space-between;  
    
  }
  .dropdown-form {
    width: 48%; /* Ajustar el ancho de los formularios */
}
.dropdown-select-box {
  width: 100%; /* Hacer los dropdown más largos */
}
  
  .select-container select {
   
    margin-right: 10px; 
  }
  
  .dropdown-select {
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
      background-color: #fff;
      border-radius: 6px;
      border: solid 1px #eee;
      box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      float: left;
      font-size: 14px;
      font-weight: normal;
      height: 42px;
      line-height: 40px;
      outline: none;
      padding-left: 18px;
      padding-right: 30px;
      position: relative;
      text-align: left !important;
      transition: all 0.2s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: nowrap;
      width: auto;
      margin-right: 10px;
      margin-bottom: 8px;
  
  }
  
  .dropdown-select:focus {
      background-color: #fff;
  }
  
  .dropdown-select:hover {
      background-color: #fff;
  }
  
  .dropdown-select:active,
  .dropdown-select.open {
      background-color: #fff !important;
      border-color: #bbb;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
  }
  
  .dropdown-select:after {
      height: 0;
      width: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #777;
      -webkit-transform: origin(50% 20%);
      transform: origin(50% 20%);
      transition: all 0.125s ease-in-out;
      content: '';
      display: block;
      margin-top: -2px;
      pointer-events: none;
      position: absolute;
      right: 10px;
      top: 50%;
  }
  
  .dropdown-select.open:after {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
  }
  
  .dropdown-select.open .list {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
  }
  
  .dropdown-select.open .option {
      cursor: pointer;
  }
  
  .dropdown-select.wide {
      width: 200%;
      
  }
  
  .dropdown-select.wide .list {
      left: 0 !important;
      right: 0 !important;
  }
  
  .dropdown-select .list {
      box-sizing: border-box;
      transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
      -webkit-transform: scale(0.75);
      transform: scale(0.75);
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
      background-color: #fff;
      border-radius: 6px;
      margin-top: 4px;
      padding: 3px 0;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 999;
      max-height: 250px;
      overflow: auto;
      border: 1px solid #ddd;
  }
  
  .dropdown-select .list:hover .option:not(:hover) {
      background-color: transparent !important;
  }
  .dropdown-select .dd-search{
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0.5rem;
  }
  
  .dropdown-select .dd-searchbox{
    width:100%;
    padding:0.1rem;
    border:1px solid #999;
    border-color:#999;
    border-radius:4px;
    outline:none;
  }
  .dropdown-select .dd-searchbox:focus{
    border-color:#cf5bec;
  }
  
  .dropdown-select .list ul {
      padding: 0;
  }
  
  .dropdown-select .option {
      cursor: default;
      font-weight: 400;
      line-height: 40px;
      outline: none;
      padding-left: 18px;
      padding-right: 29px;
      text-align: left;
      transition: all 0.2s;
      list-style: none;
  }
  
  .dropdown-select .option:hover,
  .dropdown-select .option:focus {
      background-color: #f6f6f6 !important;
  }
  
  .dropdown-select .option.selected {
      font-weight: 600;
      color: #12cbc4;
  }
  
  .dropdown-select .option.selected:focus {
      background: #f6f6f6;
  }
  
  .dropdown-select a {
      color: #aaa;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
  }
  
  .dropdown-select a:hover {
      color: #666;
  }
  

 /* Tu CSS actual... */

/* Nuevas modificaciones para el diseño responsive */
@media(max-width: 34em) {
  .select-container {
      display: block;
  }

  .select-container select {
      font-size: 12px;
      height: 30px;
      line-height: 28px;
      margin-right: 0;
      margin-bottom: 10px; 
      width: 100%; /* Ajuste a 100% de ancho */
  }

  .form-dropdown {
      width: 100% !important; /* Ocupar el 100% del ancho */
  }
  .dropdown-select.wide {
    width: 100%;
  }

  .dropdown-select-box {
      width: 100% !important; /* Ocupar el 100% del ancho */
  }

  /* Resto de tu CSS para dispositivos móviles... */
}


/* 
  producto detail */

  .datosprod ul li{
    display: inline;
  }
  .description-list a{
    color: inherit;
    font-weight: light;
  }

.producto {
  color: rgb(12, 12, 12); /* Cambia el color del texto a blanco */
}

.producto h1,
.producto li,
.producto a {
  color:  rgb(12, 12, 12); /* Cambia el color del texto a blanco */
}

/* Si deseas mantener algunos elementos con otros colores, puedes ajustar los selectores según sea necesario */

  










